repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.6.9
    hooks:
      - id: ruff
        args: ["--fix"]
      - id: ruff-format

  - repo: local
    hooks:
      - id: mypy
        args: ["--explicit-package-bases"]
        name: mypy (uv)
        entry: uv run mypy . --explicit-package-bases
        language: system
        pass_filenames: false
  